.field-label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.field-label-centered {
    display: flex;
    align-items: center;
}

#childsessionFieldsTable td:first-child {
    width: 150px;
  }
  
  #childsessionFieldsTable td:last-child {
    width: 2250px; /* Adjust the width as desired */
  }

  #childsessionFieldsTable td.td-btn {
    width: 20px; /* Adjust the width as desired */
  }
