.field-label {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.field-label-centered {
    display: flex;
    align-items: center;
}

#childsessionFieldsTable td:first-child {
    width: 150px;
  }
  
  #childsessionFieldsTable td:last-child {
    width: 2250px; /* Adjust the width as desired */
  }

  #childsessionFieldsTable td.td-btn {
    width: 20px; /* Adjust the width as desired */
  }

.input-parent-session-duration-container {
    display: flex;
    align-items: center;
}

.input-parent-session-duration-label {
  width: 100px; /* Adjust the width to your desired value */
}

.child-session {
  background-color: lightblue;
}

.child-session > * {
  margin: 10px;
}

#childsessionFieldsContainer .row-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Optional: Add margin between rows */
}

#childsessionFieldsContainer .row-container label {
  width: 50px; /* Set the desired width */
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}