<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--防止移动端缩放-->
    <title></title>
    <!-- <link rel="stylesheet" href="http://www.touma.club/touma_club/css/layui.css"/> -->
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <!-- <script type="text/javascript" src="http://www.touma.club/touma_club/script/layui.js"></script>
    <script type="text/javascript" src="http://www.touma.club/touma_club/script/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="http://www.touma.club/touma_club/script/layer.js"></script> -->

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!--jQuery cdn链接-->
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <fieldset class="layui-elem-field" style="text-align: center;">
                <legend>生成议程表</legend>
            </fieldset>

            <form>
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <select id="templateSelect" class="form-control  input-lg">
                        <option value="">请选择模板</option>
                        <option value="jabil_jouse_template_for_print">捷普聚思模板</option>
                        <option value="huangpu_rise_template_for_print">黄埔睿思模板</option>
                    </select>
                </div>
                <div class="form-group">
                    <center><button type="button" id="submitButton" class="btn btn-primary btn-lg btn-block">下一步</button></center>
                    
                </div>
                <script>
                    // 加载页面时向后端获取可选模板名称
                    $(document).ready(function(){
                        $.post("./list_templates", function(returnData){
                            let templateName_Arr = returnData.template_names;
                            if(templateName_Arr.length > 0){
                                //模板名的数量大于0，渲染到下拉框内
                                let SelectInput = $("#templateSelect");
                                for(let i = 0;i < templateName_Arr.length;i++){
                                    // SelectInput.append("<option value='"+templateName_Arr[i]+"'>"+templateName_Arr[i]+"</option>");
                                }
                            }
                        })
                    })

                    const templateSelect = document.getElementById("templateSelect");
                    const submitButton = document.getElementById("submitButton");
                
                    submitButton.addEventListener("click", function() {
                        const selectedTemplate = templateSelect.value;
                        // const formData = new FormData();
                        // formData.append("selected_template", selectedTemplate);
                        // fetch("./record_template", {
                        //     method: "POST",
                        //     body: formData
                        // })
                        window.location = "./InputAgendaContent";
                    });
                </script>
            </form>
        </div>
    </div>

</div>

<!-- <div class="layui-col-md12" style="text-align: center;">
        <fieldset class="layui-elem-field">
            <legend>请选择模板</legend>
        </fieldset>
    </div>
    <div class="layui-col-md12">
        <form action="./list_templates" class="layui-form layui-form-pane" lay-filter="selectTemplet" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">选择模板</label>
                <div class="layui-input-block">
                    <select id="Select_Templets" name="user_name"></select>
                    <input type="text" name="user_name" value="123"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="button" onclick="PostMessage" class="layui-btn layui-btn-normal layui-btn-fluid" id="btn_Next" value="下一步" />
                    <button type="submit">下一步</button>
                </div>
            </div>
        </form>
    </div> -->

    <script type="text/javascript">
        // layui.use(['form'], function(){
        //     var form = layui.form;
        //     var $ = layui.$;

            

            
        // })
        // $("#btn_Next").click(function(){
        //         $.ajax({
        //         url: "/list_templates",
        //         type: "Post",
        //         dataType: "json",
        //         data:{UserName: "Taam"},
        //         success: function(returnData){
        //             console.log(returnData);
        //         }
        //     })
        //     })

        function PostMessage(){

        }
    </script>
</body>
</html>