<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--防止移动端缩放-->
        <title></title>
                <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
            <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
                <!--jQuery cdn链接-->
                <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
              <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
                <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
                <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/LoadingBox.css">
    <link rel="stylesheet" href="static/css/input_agenda_content.css">
</head>

    <body>
        <div class="navbar">
            <a href="./">
                <i class="fas fa-home navbar-icon"></i>
            </a>
            <h1 class="navbar-title">议程表助手</h1>
            <!-- <i class="fas fa-bars navbar-icon" id="menuIcon"></i> -->
        </div>

        <!-- 提交数据后显示结果的模态框 -->
        <!-- data-bs-backdrop="static" data-bs-keyboard="false" -->
        <div class="modal fade" id="staticBackdrop"  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">生成结果</h5>
                        <!-- <button type="button" id="staticBackdropClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                      </div>
                      <div class="modal-body" id="Submitted_Content">
                        
                      </div>
                </div>
            
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form>
                        <!-- <div class="form-group">
                            <label for="meeting_info">会议信息</label>
                            <textarea id="meeting_info" class="form-control" name="meeting_info" rows="5" placeholder="请输入会议信息">{% for item in data['meeting_info'] %}
    {{ item['field_name'] }}: {{ item['content'] }}{% if not loop.last %} {% endif %}{% endfor %}</textarea>
                        </div> -->
                        <div class="form-group">
                            <label for="meeting_info">会议信息</label>
                            {% for item in data['meeting_info'] %}
                            <div class="input-group">
                                <span class="field-label input-group-text">{{ item['field_name'] }}</span>
                                <input type="text" id="{{ item['field_name'] }}" class="form-control" name="{{ item['field_name'] }}" value="{{ item['content'] }}" placeholder="{{ item['field_name'] }}" />
                            </div>
                            {% endfor %}
                        </div>
    
                        <div class="form-group">
                            <label for="role_name_list">会议角色及人员</label>
                            <textarea id="role_name_list" class="form-control" name="role_name_list" rows="8" placeholder="请输入会议角色及对应人名">{% for item in data['role_name_list'] %}
    {{ item['role'] }}: {{ item['name'] }}{% if not loop.last %} {% endif %}{% endfor %}</textarea>
                        </div>
    
                        <div class="form-group">
                            <label for="">议程安排</label>
                            <textarea id="agenda_content" class="form-control" name="agenda_content" rows="18" placeholder=""># 会议开场
主持人开场白(介绍会议主要内容、及可能的议程改动) 1 主持人
介绍会议规则以及宾客介绍（限时每位30秒） 2 礼宾师
介绍国际演讲会及捷普聚思国际演讲俱乐部 5 主席

# 会议支持者介绍
主持人介绍及中场串词 1 主持人
时间官 1 时间官
哼哈师 1 哼哈师
语法师&词汇大师（今日之词：） 2 语法师
总体点评师 1 总体点评师
破冰师 6 破冰师

# 即兴演讲
主持人串词 1 主持人
即兴主持人 2 即兴主持人
即兴演讲《诗和远方》（演讲每人2分钟，邀请串场1分钟） 18 会员&宾客
主持人串词 1 主持人
即兴点评报告 7 即兴点评师

# 小歇及合影 5

# 备稿演讲及点评
主持人串词 1 主持人
点评师介绍项目级别和要求 1 备稿点评师1
备稿演讲1《人工智能，我们该何去何从》 7 备稿演讲者1
点评师介绍项目级别和要求 1 备稿点评师2
备稿演讲2《蜕变》MS5-1 12 备稿演讲者2
主持人串词 1 主持人
备稿点评1 3 备稿点评师1
主持人串词 1 主持人
备稿点评2 3 备稿点评师2

# 会议支持者报告
主持人开场及中场串词 1 主持人
时间官报告 2 时间官
哼哈师报告 2 哼哈师
语法师报告 3 语法师
总体点评师报告 7 总体点评师

# 主持人提示观众投票选出“最佳备稿演讲”等，微信小程序投票

# 会议尾声
嘉宾回访环节 2 主席
颁奖 2 主席
会议招募 1 下一期会议经理

# 会议结束</textarea>
                            
                        </div>

                        <!-- <div class="form-group">
                            <label for="">议程安排（表格）</label>
                            <button type="button" id="MeetingSession_Add" class="btn btn-info">添加会议环节</button>
                        </div>

                        <div class="form-group" id="MeetingSession">
                            <div class="bd-example" index="1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">1</span>
                                        <input type="text" class="form-control" placeholder="请输入环节名称"></input>
                                    <button type="button" class="btn btn-info">添加子环节</button>
                                    <button type="button" class="btn btn-primary">本环节上移</button>
                                    <button type="button" class="btn btn-warning">本环节下移</button>
                                    <button type="button" class="btn btn-danger">删除本环节</button>

                                    </div>
                                
                                <table class="table table-striped table-bordered table-success">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="text-align: center;">序号</th>
                                            <th scope="col" style="text-align: center;">子环节名称</th>
                                            <th scope="col" style="text-align: center;">子环节时长</th>
                                            <th scope="col" style="text-align: center;">子环节角色</th>
                                            <th scope="col" style="text-align: center;">环节操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="text-align: center;">1</th>
                                            <td><input type="text" placeholder="请输入子环节名称" class="form-control"/></td>
                                            <td><input type="number" placeholder="请输入子环节时长" class="form-control"/></td>
                                            <td>
                                                <select class="form-select form-control" aria-label="Default select example">
                                                    <option selected>请选择角色</option>
                                                    <option value="xxx">xxx</option>
                                                    <option value="yyy">yyy</option>
                                                </select>
                                            </td>
                                            <td>
                                                <center>
                                                    <button type="button" class="btn btn-primary">上移</button>
                                                <button type="button" class="btn btn-warning">下移</button>
                                                <button type="button" class="btn btn-danger">删除</button>
                                                </center>
                                                
                                                
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    
                                </div>
                                <div class="row">
                                    
                                </div>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <div id="message"></div>
                            <div class="row mb-1">
                                <div class="col">
                                    <button type="button" id="submitButton" class="btn btn-primary btn-lg btn-block">生成议程表</button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col">
                                    <button type="button" id="previewImage" class="btn btn-success btn-lg btn-block">预览图片</button>
                                </div>
                                <div class="col">
                                    <button type="button" id="downloadImage" class="btn btn-success btn-lg btn-block">导出图片</button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col">
                                    <button type="button" id="previewPdf" class="btn btn-success btn-lg btn-block">预览PDF</button>
                                </div>
                                <div class="col">
                                    <button type="button" id="downloadPdf" class="btn btn-success btn-lg btn-block">导出PDF</button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col">
                                    <button type="button" id="downloadExcel" class="btn btn-info btn-lg btn-block">下载Excel表格</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
        
        <script>
              var HasSubmittedMessage = false;

            $(document).ready(function() {
              // Event listener for the submit button click
              $('#submitButton').click(function() {
                MaskUtil.mask();

                // Create an empty string to store the meeting information
                var meetingInfo = "";
                // Iterate through each input field in the form group
                // TODO(Changhong): send dict to backend, no need to recompose into a text.
                $('.form-group .input-group input[type="text"]').each(function() {
                    var fieldName = $(this).attr('name');
                    var content = $(this).val();

                    // Append the field name and content to the meetingInfo string
                    meetingInfo += fieldName + ": " + content + "\n";
                });

                // Create an object to store the form data
                var formData = {
                    meeting_info: meetingInfo,
                    role_name_list: $('#role_name_list').val(),
                    agenda_content: $('#agenda_content').val()
                };

                // // Create an object to store the form data
                // var formData = {
                //   meeting_info: $('#meeting_info').val(),
                //   role_name_list: $('#role_name_list').val(),
                //   agenda_content: $('#agenda_content').val()
                // };
            
                // Send the form data as JSON via a POST request
                $.ajax({
                  type: 'POST',
                  url: './generate_with_text_blocks',
                  data: JSON.stringify(formData),
                  contentType: 'application/json',
                  success: function(response) {
                    // Handle the response from the server
                    console.log('Data sent successfully');
                    console.log(response);

                    //Shutdown shade
                    MaskUtil.unmask();

                    // Pop a message to notify the user.
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-success" role="alert"> 议程表生成成功 </div>');
                    $('#staticBackdrop').modal('show');

                    // Close modal automatically
                    window.setTimeout(function(){
                        // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);

                    HasSubmittedMessage = true;
                  },
                  error: function(error) {
                    // Handle any errors that occur during the request
                    console.error('Error:', error);
                    // Display an error message to the user
                    // $('#message').html('<p>Error occurred: ' + error.statusText + '</p>');

                    MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert"> '+ error.statusText +' </div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        $("#staticBackdrop").modal('hide');
                    },1500);
                  }
                });
              });
            });

            // Add JavaScript code to send a request to the Flask route when the button is clicked
            document.getElementById("downloadExcel").addEventListener("click", function() {
                if(HasSubmittedMessage == false){
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">请先要生成议程表</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                    return;
                }

                MaskUtil.mask();

                // Send a GET request to the '/export_image' route
                fetch('./download_excel', {
                    method: 'GET'
                })
                .then(response => {
                    if (response.ok) {
                        // If the response is successful, trigger the download
                        response.blob().then(blob => {
                            var url = window.URL.createObjectURL(blob);
                            var a = document.createElement('a');
                            a.href = url;
                            a.download = 'touma_club_agenda.xlsx'; // You can set the desired filename here
                            document.body.appendChild(a);
                            a.click();
                            window.URL.revokeObjectURL(url);

                            MaskUtil.unmask();
                            $('#Submitted_Content').empty();
                            $('#Submitted_Content').append('<div class="alert alert-success" role="alert">下载Excel版议程表成功</div>');
                            $('#staticBackdrop').modal('show');

                            window.setTimeout(function(){
                                // $("#staticBackdropClose").trigger("click");
                                $("#staticBackdrop").modal('hide');
                            },1500);
                        });
                    } 
                    else {
                        console.error("Failed to download EXCEL");
                    
                        MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载Excel版议程表失败</div>');
                        $('#staticBackdrop').modal('show');

                       window.setTimeout(function(){
                            // $("#staticBackdropClose").trigger("click");
                            $("#staticBackdrop").modal('hide');
                        },1500);
                    }
                })
                .catch(error => {
                    console.error("Error:", error);

                    MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载Excel版议程表失败</div>');
                        $('#staticBackdrop').modal('show');

                        window.setTimeout(function(){
                            // $("#staticBackdropClose").trigger("click");
                            $("#staticBackdrop").modal('hide');
                        },1500);
                });
            });

        document.getElementById("downloadPdf").addEventListener("click", function() {
            if(HasSubmittedMessage == false){
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">请先点击生成议程表</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                    return;
                }

            MaskUtil.mask();

            // Send a GET request to the server to download the PDF
            fetch('./download_pdf', {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    // If the response is successful, trigger the download
                    response.blob().then(blob => {
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'touma_club_agenda.pdf'; // You can set the desired filename here
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);

                        MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-success" role="alert">下载PDF版议程表成功</div>');
                        $('#staticBackdrop').modal('show');

                        window.setTimeout(function(){
                            // $("#staticBackdropClose").trigger("click");
                            $("#staticBackdrop").modal('hide');
                        },1500);
                    });
                } else {
                    console.error("Failed to download PDF");

                    MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载PDF版议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载PDF版议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
            });
        });

        document.getElementById("previewPdf").addEventListener("click", function() {
            if(HasSubmittedMessage == false){
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">请先点击生成议程表</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                    return;
                }

            MaskUtil.mask();

            fetch('./download_pdf', {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    // If the response is successful, display the PDF in a new browser tab
                    response.blob().then(blob => {
                        var url = window.URL.createObjectURL(blob);

                        // Open the PDF in a new browser tab
                        window.open(url, '_blank');

                        MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-success" role="alert">预览PDF版议程表成功</div>');
                        $('#staticBackdrop').modal('show');

                        window.setTimeout(function(){
                            // $("#staticBackdropClose").trigger("click");
                            $("#staticBackdrop").modal('hide');
                        },1500);
                    });
                } else {
                    console.error("Failed to retrieve PDF");

                    MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">预览PDF版议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                MaskUtil.unmask();
                $('#Submitted_Content').empty();
                $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">预览PDF版议程表失败</div>');
                $('#staticBackdrop').modal('show');

                window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                    $("#staticBackdrop").modal('hide');
                },1500);
            });
        });

        document.getElementById("downloadImage").addEventListener("click", function() {
            if(HasSubmittedMessage == false){
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">请先点击生成议程表</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                    return;
                }

            MaskUtil.mask();

            // Send a GET request to the server to download the PDF
            fetch('./export_image', {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    // If the response is successful, trigger the download
                    response.blob().then(blob => {
                        var url = window.URL.createObjectURL(blob);
                        var a = document.createElement('a');
                        a.href = url;
                        a.download = 'touma_club_agenda.jpg'; // You can set the desired filename here
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);

                        MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-success" role="alert">下载图片议程表成功</div>');
                        $('#staticBackdrop').modal('show');

                        window.setTimeout(function(){
                            $("#staticBackdrop").modal('hide');
                        },1500);
                    });
                } else {
                    console.error("Failed to download image");

                    MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载图片议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        $("#staticBackdrop").modal('hide');
                    },1500);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">下载图片议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        $("#staticBackdrop").modal('hide');
                    },1500);
            });
        });

        document.getElementById("previewImage").addEventListener("click", function() {
            if(HasSubmittedMessage == false){
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">请先点击生成议程表</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                    return;
                }

            MaskUtil.mask();

            fetch('./export_image', {
                method: 'GET'
            })
            .then(response => {
                if (response.ok) {
                    // If the response is successful, display the PDF in a new browser tab
                    response.blob().then(blob => {
                        var url = window.URL.createObjectURL(blob);

                        // Open the PDF in a new browser tab
                        window.open(url, '_blank');

                        MaskUtil.unmask();
                        $('#Submitted_Content').empty();
                        $('#Submitted_Content').append('<div class="alert alert-success" role="alert">预览图片议程表成功</div>');
                        $('#staticBackdrop').modal('show');

                        window.setTimeout(function(){
                            // $("#staticBackdropClose").trigger("click");
                            $("#staticBackdrop").modal('hide');
                        },1500);
                    });
                } else {
                    console.error("Failed to preview image");

                    MaskUtil.unmask();
                    $('#Submitted_Content').empty();
                    $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">预览图片议程表失败</div>');
                    $('#staticBackdrop').modal('show');

                    window.setTimeout(function(){
                        // $("#staticBackdropClose").trigger("click");
                        $("#staticBackdrop").modal('hide');
                    },1500);
                }
            })
            .catch(error => {
                console.error("Error:", error);
                MaskUtil.unmask();
                $('#Submitted_Content').empty();
                $('#Submitted_Content').append('<div class="alert alert-danger" role="alert">预览图片议程表失败</div>');
                $('#staticBackdrop').modal('show');

                window.setTimeout(function(){
                    // $("#staticBackdropClose").trigger("click");
                    $("#staticBackdrop").modal('hide');
                },1500);
            });
        });

        // // Add Meeting Session
        // document.getElementById("MeetingSession_Add").addEventListener("click", function(){
        //     GetRoleSelect();
        // })

        // function CreateSessionElement(data){
        //     if(jQuery.isEmptyObject(data)){
        //         data = {Index: 0, Title: "", ChildSessions: []};
        //     }

        //     //Get New Session ID
        //     let MeetingSessions_Count = $("#MeetingSession").children().length; //Get Current Sessions Length
        //     let NewSessionIndex = MeetingSessions_Count+1;
        //     let NewSessionID = "Session_"+NewSessionIndex;  //Get New Sessions ID

        //     //Add Title
        //     let Span_SessionNum = $("<span></span>");
        //     Span_SessionNum.addClass("input-group-text");
        //     Span_SessionNum.text(data.Index);

        //     let Input_SessionName = $("<input />");
        //     Input_SessionName.attr("type", "text");
        //     Input_SessionName.addClass("form-control");
        //     if(data.Title === "")
        //         Input_SessionName.attr("placeholder", "请输入环节名称");
        //     else
        //         Input_SessionName.attr("value", data.Title);


        //     let Button_ChildSession_Add = GetButtonDom("info", "添加子环节");
        //     let Button_Session_Up = GetButtonDom("primary", "上移本环节");
        //     let Button_Session_Down = GetButtonDom("warning", "下移本环节");
        //     let Button_Session_Del = GetButtonDom("danger", "删除本环节");

        //     let DivRow_InputGroup = GetDivDom();
        //     DivRow_InputGroup.addClass("input-group mb-3");
        //     Span_SessionNum.appendTo(DivRow_InputGroup);
        //     Input_SessionName.appendTo(DivRow_InputGroup);
        //     Button_ChildSession_Add.appendTo(DivRow_InputGroup);
        //     Button_Session_Up.appendTo(DivRow_InputGroup);
        //     Button_Session_Down.appendTo(DivRow_InputGroup);
        //     Button_Session_Del.appendTo(DivRow_InputGroup);

        //     //Add Table
        //     //Add thead
        //     let th_Child_Num = GetThDom("序号");
        //     let th_Child_SessionName = GetThDom("子环节名称");
        //     let th_Child_Duration = GetThDom("子环节时间");
        //     let th_Child_Role = GetThDom("选择角色");
        //     let th_Child_Operation = GetThDom("子环节操作");

        //     let thtrDom = $("<tr></tr>");
        //     th_Child_Num.appendTo(thtrDom);
        //     th_Child_SessionName.appendTo(thtrDom);
        //     th_Child_Duration.appendTo(thtrDom);
        //     th_Child_Role.appendTo(thtrDom);
        //     th_Child_Operation.appendTo(thtrDom);

        //     let theadDom = $("<thead></thead>");
        //     thtrDom.appendTo(theadDom);

        //     let Table = $("<table></table>");
        //     Table.addClass("table table-success table-bordered table-striped");
        //     theadDom.appendTo(Table);

        //     //Add tbody
        //     if(data.ChildSessions.length > 0){
        //         let tbodyDom = $("<tbody></tbody");
        //         for(let i = 0;i < data.ChildSessions.length;i++){
        //             //Num
        //             let ChildNumCol = $("<th scope=\"row\">"+data.ChildSessions[i].ChildIndex+"</th>")
                    
        //             //Children Session Name
        //             let ChildSession_Name = $("<input type=\"text\"  class=\"form-control\" />")
        //             if(data.ChildSessions[i].Name == "")
        //                 ChildSession_Name.attr("placeholder", "请输入子环节名称");
        //             else
        //                 ChildSession_Name.attr("value", data.ChildSessions[i].Name);
        //             let TD_Name = $("<td></td>");
        //             ChildSession_Name.appendTo(TD_Name);

        //             //Children Session Duration
        //             let ChildSession_Duration = $("<input type=\"text\"  class=\"form-control\" />")
        //             if(data.ChildSessions[i].Duration == "")
        //                 ChildSession_Duration.attr("placeholder", "请输入子环节名称");
        //             else
        //                 ChildSession_Duration.attr("value", data.ChildSessions[i].Duration);
        //             let TD_Duration = $("<td></td>");
        //             ChildSession_Duration.appendTo(TD_Duration);

        //             //Children Session Role
        //             let ChildSession_Role = GetRoleSelect(data.ChildSessions[i].Role);
        //             let TD_Role = $("<td></td>");
        //             ChildSession_Role.appendTo(TD_Role);

        //             let tbtrDom = $("<tr></tr>");
        //             ChildNumCol.appendTo(tbtrDom);
        //             TD_Name.appendTo(tbtrDom);
        //             TD_Duration.appendTo(tbtrDom);
        //             TD_Role.appendTo(tbtrDom);

        //             tbtrDom.appendTo(tbodyDom);
        //         }

        //         tbodyDom.appendTo(Table);

        //     }

        //     //Add Container
        //     let DivContainer = GetDivDom();
        //     DivContainer.attr("id", NewSessionID);
        //     DivContainer.addClass("bd-example"); //container-fluid
        //     // DivRow_Title.appendTo(DivContainer);
        //     DivRow_InputGroup.appendTo(DivContainer);
        //     Table.appendTo(DivContainer);

        //     let DivFormItem = $("#MeetingSession");
        //     DivContainer.appendTo(DivFormItem);
        // }

        // function GetDivDom(){
        //     let div = $("<div></div>");
        //     return div;
        // }

        // function GetButtonDom(color, name){
        //     let button = $("<button></button>");
        //     button.attr("type", "button");
        //     // button.attr("id", ID);

        //     let className = "btn btn-"+color;
        //     button.addClass(className);
        //     button.text(name);

        //     return button;
        // }

        // function GetThDom(colName){
        //     let thDom = $("<th>"+colName+"</th>");
        //     thDom.attr("scope", "col");
        //     thDom.attr("style", "style=\"text-align: center;\"");
        //     return thDom;
        // }

        // //Get Role Select
        // function GetRoleSelect(SelectedRole){
        //     let RoleData = $("#role_name_list").text();
        //     // console.log(RoleData);

        //     let SelectDom = $("<select class=\"form-control\"></select>");
        //     let OptionsDom_Default = $("<option value=\"\">请选择角色</option>");
        //     OptionsDom_Default.appendTo(SelectDom);

        //     let RoleArr = RoleData.split(/[(\r\n)\r\n]+/);
        //     for(let r = 0;r < RoleArr.length;r++){
        //         if(RoleArr[i] != ""){
        //             let role = $.trim(RoleArr[i].split(':')[0]);
        //             let OptionStr_Role = "<option value=\""+role+"\"";
        //             if(RoleArr[i] == SelectedRole)
        //                 OptionStr_Role += " selected"
        //             OptionStr_Role += ">"+role+"</option>";

        //             let OptionDom_Role = $(OptionStr_Role);
        //             OptionDom_Role.appendTo(SelectDom);
        //         }
        //     }

        //     return SelectDom;
        // }

        /**
 * 说明：数据进行加载时的遮罩层，基于bootstrap的页面模态框做封装处理
 * 使用方法:
 * 开启:MaskUtil.mask();
 * 关闭:MaskUtil.unmask();
 */
var MaskUtil = (function(){
    var $mask,$maskMsg;
    var defMsg = '正在生成，请稍等 . . .';
    function init(){
        if(!$mask){
            $mask = $("<div id=\"myWaitingModal\" class=\"modal fade\" data-keyboard=\"false\" data-backdrop=\"static\" data-role=\"dialog\" " +
                "aria-labelledby=\"myWaitingModalLabel\" aria-hidden=\"true\">" +
                "<div id=\"loading\" class=\"loading\"><span class=\"spinner-border\" role=\"status\"></span>"+
                    "<span>&nbsp;&nbsp;"+defMsg+"</span></div></div>").appendTo("body");
        }
    }
    return {
        mask:function(){
            init();
            $('#myWaitingModal').modal('show');
        }
        ,unmask:function(){
            $('#myWaitingModal').modal('hide');
            $mask = null;
            $('#myWaitingModal').remove();
            $('.modal-backdrop').hide();
        }
    }
}());
            </script>
    </body>

</html>