<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--防止移动端缩放-->
    <title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Bootstrap-Select CSS 文件 -->
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.css" rel="stylesheet">
    <!--jQuery cdn链接-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-..." crossorigin="anonymous" />

    <link rel="stylesheet" href="static/css/navbar.css">
    <link rel="stylesheet" href="static/css/LoadingBox.css">
    <link rel="stylesheet" href="static/css/input_agenda_content.css">
</head>

<body>
    <div class="navbar">
        <a href="./">
            <i class="fas fa-home navbar-icon"></i>
        </a>
        <h1 class="navbar-title">议程表助手</h1>
        <!-- <i class="fas fa-bars navbar-icon" id="menuIcon"></i> -->
    </div>

    <!-- 提交数据后显示结果的模态框 -->
    <!-- data-bs-backdrop="static" data-bs-keyboard="false" -->
    <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">生成结果</h5>
                    <!-- <button type="button" id="staticBackdropClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>
                <div class="modal-body" id="Submitted_Content">

                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <form>
                    <div class="form-group" , id="meetingInfo">
                        <!-- <label for="meeting_info">会议信息</label> -->
                        {% for item in data['meeting_info'] %}
                        <div class="input-group">
                            <p class="field-label field-label-centered">{{ item['field_name'] }}</p>
                            {% if item['is_single_line'] %}
                            <input type="text" id="{{ item['field_name'] }}" class="form-control input-centered"
                                name="{{ item['field_name'] }}" value="{{ item['content'] }}"
                                placeholder="{{ item['field_name'] }}" />
                            {% else %}
                            <textarea id="{{ item['field_name'] }}" class="form-control input-centered"
                                name="{{ item['field_name'] }}"
                                placeholder="{{ item['field_name'] }}">{{ item['content'] }}</textarea>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="role_name_list">会议角色及人员</label>
                        <textarea id="role_name_list" class="form-control" name="role_name_list" rows="8"
                            placeholder="请输入会议角色及对应人名">{% for item in data['role_name_list'] %}
    {{ item['role'] }}: {{ item['name'] }}{% if not loop.last %} {% endif %}{% endfor %}</textarea>
                    </div>

                    <div class="form-group">
                        <label for="">议程安排</label>
                        <!-- <button type="button" id="MeetingSession_Add" class="btn btn-info">添加会议环节</button> -->
                    </div>

                    <div class="form-group" id="MeetingSession">

                    </div>

                    <div class="form-group">
                        <div id="message"></div>
                        <div class="row mb-1">
                            <div class="col">
                                <button type="button" id="MeetingSession_Add"
                                    class="btn btn-info btn-lg btn-block">添加会议环节</button>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <button type="button" id="submitButton"
                                    class="btn btn-primary btn-lg btn-block">生成议程表</button>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <button type="button" id="previewImage"
                                    class="btn btn-success btn-lg btn-block">预览图片</button>
                            </div>
                            <div class="col">
                                <button type="button" id="downloadImage"
                                    class="btn btn-success btn-lg btn-block">导出图片</button>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <button type="button" id="previewPdf"
                                    class="btn btn-success btn-lg btn-block">预览PDF</button>
                            </div>
                            <div class="col">
                                <button type="button" id="downloadPdf"
                                    class="btn btn-success btn-lg btn-block">导出PDF</button>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <button type="button" id="downloadExcel"
                                    class="btn btn-info btn-lg btn-block">下载Excel表格</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script src="static/js/child_session.js"></script>
    <script src="static/js/meeting_session_actions.js"></script>
    <script src="static/js/agenda_generation_options.js"></script>
</body>

</html>