<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!--防止移动端缩放-->
    <title></title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!--jQuery cdn链接-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />

    <link rel="stylesheet" href="static/css/LoadingBox.css">
    <link rel="stylesheet" href="static/css/navbar.css">
</head>
<body>
    <div class="navbar">
        <a href="./">
            <i class="fas fa-home navbar-icon"></i>
        </a>
        <h1 class="navbar-title">议程表助手</h1>
        <!-- <i class="fas fa-bars navbar-icon" id="menuIcon"></i> -->
    </div>
    <div class="menu" id="menu">
        <ul>
            <li><a href="./">Homepage</a></li>
            <li><a href="./">Page 1</a></li>
            <li><a href="aboutus.html">About Us</a></li>
        </ul>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <!-- <fieldset class="layui-elem-field" style="text-align: center;">
                <legend>议程表助手</legend>
            </fieldset> -->

            <form>
                <div class="form-group">
                    <!-- <label for="exampleInputEmail1">Email address</label> -->
                    <select id="templateSelect" class="form-control  input-lg">
                        <option value="">请选择模板</option>
                        <option value="jabil_jouse_template_for_print">捷普聚思模板</option>
                        <option value="huangpu_rise_template_for_print">黄埔睿思模板</option>
                        <option value="HR_elite_template">黄埔HR精英国际演讲俱乐部模板</option>
                        <option value="heyan_template">和言国际演讲俱乐部模板</option>
                        <option value="general_template">通用议程表模板</option>
                    </select>
                </div>
                <div class="form-group">
                    <center><button type="button" id="submitButton" class="btn btn-primary btn-lg btn-block">下一步</button></center>
                </div>

                <script src="static/js/select_templates.js"></script>
            </form>
        </div>
    </div>

</div>

</body>
</html>